[user]
    name = arzachelagfir-dev
    email = arzachelagfir120@gmail.com

[core]
    editor = nvim
    # Using Delta as a pager
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # Use n and N to navigate
    light = false      # dark mode
    side-by-side = true 
    line-numbers = true
    

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default

[alias]
    
    st = status
    co = checkout
    cm = commit -m
    br = branch
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    
    
    last = log -1 HEAD
    unstage = reset HEAD --

[init]
    defaultBranch = main

[push]
    autoSetupRemote = true

